<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>placeholder title</title>
</head>
<body>

    <!-- TAB 3 -->
    <div style="display:none">
        <div id="tab3" class="" role="tablist">
            <button hx-get="#tab1" role="tab" aria-selected="false" aria-controls="tab-content1">Tab 1</button>
            <button hx-get="#tab2" role="tab" aria-selected="false" aria-controls="tab-content2">Tab 2</button>
            <button hx-get="#tab3" class="selected" role="tab" aria-selected="true" aria-controls="tab-content3">Tab 3</button>
        </div>
        <div id="tab-content3" role="tabpanel">
            <h2>Tab 3 content</h2>
            <p>this is the content, look.</p>
        </div>
    </div>

</body>
</html>
